/* reset style */
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
/* common style */
.common-btn {
    background-color:#fd6e0aFF ;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: wheat;
    border: none;
    cursor: pointer;
}
.outline-btn {
    background-color:white ;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #fd6e0aFF;
    border: 1px solid #fd6e0aFF;
    cursor: pointer;
}
.banner {
    background-color: #fff8f3;
    background-image: url("./images/developer.png"), url("./images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 20px top, right bottom;
    background-size: auto, contain;
}
.container{
    max-width: 1000px;
    margin: auto;
}
/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.logo {
    font-weight: 800;
    font-size: 45px;
}cj
.logo-r {
    color: #fd6e0aFF;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}
ul li a {
    text-decoration: none;
    color:  rgba(71, 71, 71, 1);
}

/* hero section */
.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.hero-right img {
    width: 500px;
}
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-p-1{
    font-size: 45px;
    font-weight: 600;
    color:  rgba(71, 71, 71, 1);
}
.hero-left h2{
    font-weight: 700;
    font-size: 85px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}
.hero-left-p-2{
    color:  rgba(71, 71, 71, 1);
}
.hero-left-btn-parent{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}